.footer {
    margin-top: 5rem;
    background: var(--gray-2);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3rem 0;
}

.footer-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    color: var(--color-hard-primary);
}

.logo {
    line-height: 150%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-links a {
    color: var(--color-hard-primary);
}

.footer-links a:hover {
    text-shadow: 1px 1px;
}

.footer-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.box-contact {
    display: flex;
    gap: .5rem;
}

.contact-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-hard-primary);
}