.login-container {
    margin-top: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    max-width: 16rem;
    width: 100%;
}

.login-title {
    color: var(--gray-9);
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
}


.login-field {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    position: relative;
    width: 100%;
}

.login-field input {
    display: flex;
    padding: .875rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: .375rem;
    border: 1px solid var(--gray-1);
    background: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    width: 100%;
}

.input-password {
    position: relative;
}

.input-password input {
    display: flex;
    padding: .875rem 1rem;
    justify-content: center;
    align-items: center;
    border-radius: .375rem;
    border: 1px solid var(--gray-1);
    background: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    width: 100%;
}

.eye-icon {
    position: absolute;
    bottom: .95rem;
    right: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.login-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login-remember {
    display: flex;
    gap: 0.38rem;
    align-items: center;
    justify-content: center;
}

.login-remember input[type='checkbox'] {
    width: 1.25rem;
    height: 1.25rem;
    accent-color: var(--color-hard-primary);
}

.login-remember label,
.login-forget,
.login-change_register p {
    font-size: .875rem;
    color: var(--gray-6);
    font-weight: 400;
    line-height: 150%;
}




.login-change_register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.38rem;
}

.login-change_register a {
    color: var(--gray-9);
    font-size: .875rem;
    font-weight: 500;
    line-height: 150%;
}

.register_validate {
    color: var(--color-danger);
    font-size: .75rem;
}