.d_slide-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 15rem;
    width: 100%;
    background: var(--color-hard-primary);
    flex-direction: column;
    height: fit-content;
    border: 1px solid var(--color-hard-primary);

}

.d_service {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.d_link {
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 500;
}

.d_service:hover,
.active,
.active .d_link,
.d_service:hover .d_link {
    background: var(--color-white);
    color: var(--color-hard-primary);
    cursor: pointer;
}